<!DOCTYPE html>
<html>
  <head>
    <title>Aeropress</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="navbar navbar-expand-md">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Aeropress-Coffee.com: Find the Perfect Aeropress Recipe</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= button_to "Show All", index_path, method: :get, remote: true %>
        <%= button_to "Show One", index_path(amount:1), method: :get, remote: true %>
      </div>
    </nav>
  </div>
        <%= yield %>
  </div>
  </body>
</html>
